.hero
  .container
    = image_tag 'logo.svg'
    %h1 Proteus
    %p Static site kits from your friends at #{link_to "thoughtbot", "http://thoughtbot.com"}

.container
  %section
    %p.intro Proteus is a collection of useful starter kits to help you launch your static site or prototype faster. They follow the #{link_to "thoughtbot styleguide", "https://github.com/thoughtbot/guides/tree/master/style"} and include our favorite front end tools.

    %ul.tools
      %li
        = image_tag "haml.svg"
        %h3= link_to "HAML", "http://haml.info"
        %p Simple template markup
      %li
        = image_tag "sass.svg"
        %h3= link_to "Sass", "http://sass-lang.com"
        %p CSS with superpowers
      %li
        = image_tag "coffeescript.svg"
        %h3= link_to "Coffeescript", "http://coffeescript.org"
        %p Beats writing javascript
      %li
        = image_tag "bourbon.svg"
        %h3= link_to "Bourbon", "http://bourbon.io"
        %p Sass mixin library
      %li
        = image_tag "neat.svg"
        %h3= link_to "Neat", "http://neat.bourbon.io"
        %p Semantic grid
      %li
        = image_tag "bitters.svg"
        %h3= link_to "Bitters", "http://bitters.bourbon.io"
        %p Styles, variables and structure

  %section
    %ul.kits
      %li
        = link_to "http://github.com/thoughtbot/proteus-middleman" do
          %h3= link_to "Middleman", "http://middlemanapp.com"
          %p Tiny static site generator based on Ruby. Our favorite.
      %li
        = link_to "http://github.com/thoughtbot/proteus-jekyll" do
          %h3= link_to "Jekyll", "http://jekyllrb.com"
          %p Popular Ruby based generator with tons of plugins
      %li
        = link_to "http://github.com/thoughtbot/proteus-gulp" do
          %h3= link_to "Gulp", "http://gulpjs.com"
          %p Dead simple generator built on NPM and Gulp

  %section.section-gem
    .gem-title
      = image_tag "gem.svg"
      %h3 We even made a gem

    %p Just run this to install it:

    %pre
      %code gem install proteus

    %p Then pick the project you want to start (i.e. Middleman)

    %pre
      %code proteus new middleman your-project-name

    %p We have also included some handy shortcuts for you to use in your Proteus kit: <code>proteus setup</code>, <code>proteus server</code> and <code>proteus deploy</code>

  %section.section-cta
    = link_to "More on Github", "https://github.com/thoughtbot/proteus"

  %section.section-faq
    %h2 Questions
    %dl
      %dt What's up with the name?
      %dd Proteus was an early Greek sea god and was a shapeshifter. The English word "protean" means "able to do many things, change easily, versatile". We use static site generators to prototype apps and sites quickly, so it seemed like a good fit.

      %dt My favorite generator isn't listed!
      %dd
        We'll be adding more as we find ourselves using more of them. Can't wait? Put together a template that includes the tools listed above and
        = link_to "open a PR", "https://github.com/thoughtbot/proteus/pulls"
        adding it to the list.
